
.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgb(59, 61, 99);

}

input {
   height: 30px;
    margin-right: 10px;
    border-radius: 5px;

}
.btn-submit,
.btn-load-more
 {
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(213, 205, 247);

}
.btn-load-more
 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
 }

 .btn-load-more.is-hidden {
    display: none;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.photo-card{
    border: 2px solid rgb(32, 24, 105);
    border-radius: 10px;
    
    transition: scale, 250ms;
    
}

.photo-card:hover,
.photo-card:focus {
    scale: 1.02;
    cursor: pointer;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.2);
}

.gallery__image{
    border-radius: 5px 5px 0 0;
}

.info {
    display: flex;
    justify-content: space-around;
}

.info-item {
    text-align: center;
}

.info-item-text {
    display: flex;
}

.spinner {
        width: 15px;
        height: 15px;
        border: 1px solid #FFF;
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }

 .btn-load-more.is-hidden {
     display: none;
     }
/* // refs.form.addEventListener("submit", (event) => {
    //   // відминемо перезавантаження сторінки
    //  event.preventDefault(getPosts());
    //  const text = refs.enterText.value;
    //  console.log(text);
    //  const {
    //   element: {}
    //  } = event.currentTarget;
     
    // }); */